.App {
  text-align: center;
}

.React-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.Firebase-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My CSS starts here */
#submit-text-area {
 width: 400px;
 height: 240px;
}

#post-button {
  background-color: rgb(223, 197, 52);
  padding: 4px;
  font-weight: bold;
  color: rgb(3, 61, 78);
  margin: 2px;
}

#get-button {
  background-color: rgb(3, 61, 78);
  padding: 4px;
  font-weight: bold;
  color: rgb(223, 197, 52);
  margin: 2px;
}

.button-text {
  user-select: none;
}

#App-left {
  flex-direction: column;
 }

#App-right {
  width: 400px;
  height: 515px;
  background-color: #dfbf32;
  flex-direction: column;
  overflow-y: scroll;
 }