/* App's static wrapper */

.App {
  text-align: center;
}

.Muslinq-logo {
  pointer-events: none;
  width: auto;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App-body {
  background-color: #dedede;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

#App-Header {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 100px;
  width: inherit;
  background-color: #317d92;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Header-Btns {
  margin-bottom: 2px;
  height: 24px;
  display: flex;
  justify-content: flex-start;
}

#Search-Div {
  margin: 2px;
  display: flex;
  justify-content: flex-end;
}

#Home-Div {
  height: 100px;
  min-height: 100px;
  border: none;
  background-color: #317d92;
}

#Home-Div:hover {
  background-color: #4390a5;
}


#App-Body-Content {
  display: flex;
  flex-direction: row;
  margin-left: 240px;
  margin-top: 100px;
}

#App-Inner-Body {
  width: 100vw;
}

#Main-Left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#Main-Left-Menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  z-index: 1;
  background-color: #030308;
  overflow-x: hidden;
}

.Main-Left-Menu-Btn {
  background: #4e5461;
  font-size: 18px;
  border-radius: 15px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  height: 67px;
  margin: 2px;
}

.Main-Left-Menu-Btn:hover {
  background: #496870;
}

.Main-Left-Menu-Btn:active {
  background: #8a93ad;
}

#Profile-Btn {
  background: #466c75;
  border-radius: 15px;
  font-size: .7em;
  font-weight: bold;
  flex-grow: 1;
  border: none;
  text-align: center;
  height: 100%;
  margin: 2px;
}

#Profile-Btn:active {
  background: #90bfe6;
}

#Profile-Btn:hover {
  background: #276c7e;
}

#Logout-Btn {
  background: #466c75;
  border-radius: 15px;
  font-size: .7em;
  font-weight: bold;
  flex-grow: 1;
  border: none;
  text-align: center;
  height: 100%;
  margin: 2px;
}

#Logout-Btn:active {
  background: #90bfe6;
}

#Logout-Btn:hover {
  background: #276c7e;
}

#Search-Input {
  width: 20px;
  border-radius: 15px;
  font-size: 1em;
  flex-grow: 1;
  max-height: 100%;
}

#Search-Btn {
  background: #466c75;
  border-radius: 15px;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  text-align: center;
  min-width: 41px;
  height: 100%;
  margin-left: 2px;
}

#Search-Btn:active {
  background: #90bfe6;
}

#Search-Btn:hover {
  background: #276c7e;
}

#mag-glass {
  /* rotate the character */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#Main-Content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.spacer-240w {
  width: 240px;
}