.App {
  text-align: center;
}

.React-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.Firebase-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

#App-Header {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 10vh;
  width: inherit;
  background-color: #3864bd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Header-Btns {
  margin-right: 24px;
}

#Home-Div {
  height: 10vh;
  background-color: #274683;
  line-height: 10vh;
  font-size: 31px;
  font-weight: bolder;
}

#App-Body-Content {
  display: flex;
  flex-direction: row;
  margin-left: 240px;
  padding: 10px;
  margin-top: 10vh;
}

#App-Inner-Body {
  width: 100vw;
}

#Main-Left-Menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(31, 30, 30);
  overflow-x: hidden;
}

.Left-Menu-Btn {
  font-size: 18px;
  font-weight: bold;
  height: 10vh;
}

#Main-Content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
