/* PostSong.js */

#submit-song-box {
    background: #282c34;
    padding: 16px;
    margin: 6px;
}

#song-name-area {
    width: 60%;
    height: 30px;
}

#group-name-area {
    width: 60%;
    height: 30px;
}

#artist-names-area {
    width: 60%;
    height: 30px;
}

#song-info-area {
    width: 80%;
    height: 60px;
}

#post-button {
    background-color: rgb(3, 61, 78);
    padding: 4px;
    font-weight: bold;
    color: rgb(223, 197, 52);
    margin: 2px;
    user-select: none;
}

/* SongWall */

#Songs-List {
    width: inherit;
    height: calc(100vh - 100px);
    flex-direction: column;
    overflow-y: scroll;
}

/* SongWall ListItem */
.SongListItem {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin: 6px;
    padding: 7px;
    max-height: 30vh;
    background-color: #8f999c;
    color: rgb(15, 15, 14);
    text-align: left;
}

.songHeader {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.songName {
    color: rgb(17, 17, 16);
    font-size: .7em;
    font-weight: bolder;
}

.artistName {
    font-size: .65em;
    font-weight: bold;
}

.recordingDate {
    flex: 1;
    text-align: right;
    font-style: italic;
    font-size: calc(6px + 2vmin);
}

.songLength {
    text-align: center;
}

.songInfo {
    border-radius: 5px;
    width: 100%;
    flex: 1;
    flex-grow: 1;
    background-color: rgb(203, 203, 211);
    max-height: 17.5vh;
    overflow-y: hidden;
    font-size: .7em;
    padding: .2em;
    color: rgb(36, 39, 29);
}

.songArt {
    border-radius: 15px;
    max-height: 25vh;
}

.Song-Item-Play-Btn {
    border-radius: 15px;
}

.Publish-Song-Play-Btn {
    border-radius: 5px;
}


.songListItemRight {
    width: 100%;
    padding: 4px;
}

.songList-Uploader-Btn {

}

/* PublishSongWall */
#PublishSongs-List {
    width: inherit;
    height: calc(100vh - 144px);
    flex-direction: column;
    overflow-y: scroll;
}

#Studio-Add-Song-Btns {
    display: flex;
    justify-content: flex-end;
    height: 44px;
}

#Studio-Upload-Btn {
    border-radius: 5px;
    background: #31647d;
    color: whitesmoke;
    font-size: 1em;
    font-weight: bold;
    height: 33px;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

#Studio-Upload-Btn:hover {
    background: #3796c5;
}

#Studio-Upload-Btn:active {
    background: rgb(125, 207, 248);
}

#Studio-Record-Btn {
    border-radius: 5px;
    background: #94271f;
    color: whitesmoke;
    font-size: 1em;
    font-weight: bold;
    height: 33px;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

#Studio-Record-Btn:hover {
    background: #cf443a;
}

#Studio-Record-Btn:active {
    background: #ff7b71;
}

/* PublishSongWall ListItem */
.PublishSongListItem {
    display: flex;
    flex-direction: row;
    max-height: 133px;
    margin: 6px;
    overflow-y: hidden;
    padding: 3px;
    background-color: #7d9ea5;
    color: rgb(15, 15, 14);
    text-align: left;
}

.PublishSong-publish-button {
    height: 100%;
    width: 88px;
    font-size: .4em;
    font-weight: bold;
    margin-left: 4px;
}

.PublishSong-publish-button:hover {
    background-color: rgb(150, 224, 150);
}

.PublishSong-publish-button:active {
    background-color: rgb(164, 236, 164);
}

.PublishSong-unpublish-button {
    background-color: rgb(128, 202, 161);
    height: 100%;
    width: 88px;
    font-size: .4em;
    font-weight: bold;
    margin-left: 4px;
}

.PublishSong-unpublish-button:hover {
    background-color: rgb(218, 77, 58);
}

.PublishSong-unpublish-button:active {
    background-color: rgb(236, 58, 34);
}

.PublishSongArt {
    max-height: 64px;
}

.PublishSongName {
    color: rgb(17, 17, 16);
    font-size: calc(12px + 2vmin);
    font-weight: bolder;
    flex: 1;
    font-size: .7em;
}

.PublishSongArtistName {
    flex: 1;
    font-size: calc(12px + 2vmin);
    font-weight: bold;
    font-size: .7em;
}

.PublishSongRecordingDate {
    flex: 1;
    text-align: right;
    font-style: italic;
    font-size: .6em;
}

.PublishSongLength {
    text-align: center;
}

.PublishSongInfo {
    border-radius: 5px;
    width: 100%;
    max-height: 73px;
    overflow-y: hidden;
    flex: 1 1;
    background-color: rgb(203, 203, 211);
    padding: .2em;
    font-size: .65em;
    color: rgb(51, 53, 46);
}

/* Profile Page */
#Profile-Page {
    background-color: rgb(90, 90, 90);
    margin: 4px;
}

#Profile-Page-Header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    padding: 4px;
    margin: 4px;
}

#Profile-Page-Header-Left {
 flex-grow: 1;
}

.Profile-Page-img {
    max-height: 250px;
    max-width: 250px;
}

#Profile-Songs-List {
    width: inherit;
    height: calc(100vh - 100px);
    flex-direction: column;
    overflow-y: scroll;
}

/* Song Details  */
#Song-Details-Page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Song-Details-img {
    height: 200px;
    width: 200px;
}
